.footer-container {
    width: 100vw;
    background-image: url("../../assets/graphics/footer_bg.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

    .upper-section {
        padding: 2.5rem 0;
        border-bottom: 1px solid $light-gray;

        .upper-left {
            .title {
                font-family: "allenoire";
                font-size: 3.125rem;
                line-height: 2.8125rem;
                font-weight: $font-weight-medium;
                color: $white;
                .star{
                    color: $orange;
                }
            }

            .mini-title {
                font-family: "founders grotesk";
                color: $light-gray;
                font-size: $font-size-xs;
                line-height: 1.25rem;
            }
        }

        .upper-middle {
            .text {
                font-family: "founders grotesk";
                font-size: $font-size-md;
                color: $white;
                text-decoration: none;
            }
        }

        .upper-right {
            .text {
                font-family: "founders grotesk";
                color: $light-gray;
                font-size: $font-size-sm;
                text-decoration: none;
            }
        }
    }

    .bottom-section {
        padding: 3.75rem 0;
        .title {
            font-family: "allenoire";
            font-size: 3.125rem;
            font-weight: $font-weight-medium;
            color: $white;
            .star{
                color: $orange;
            }
        }
        .sub-heading{
            font-size: $font-size-md;
            font-family: "founders grotesk";
            color: $white;
        }
        .sub-text{
            font-family: "founders grotesk";
            font-size: $font-size-sm;
            color: $light-gray;
            width: 80%;
            text-decoration: none;
        }
        .footer-icon{
            color: $white;
        }
    }
}
