.nav-container{
    width: 100vw;
    height: $footer-height;
    background-color: $white;
    position: sticky;
    top: 2.5rem;
    z-index: 9;
}
// drawer
.drawer-container{
    padding: 0 4.375rem 4.375rem;
    .drawer-list{
        padding: 0.9375rem;
    }
}
