.shop-btn {
    width: 12.25rem;
    height: 3.125rem;
    border-radius: 8px !important;
    text-transform: capitalize !important;
    background-color: $orange !important;
}
.dermac-btn{
    width: 9.125rem;
    height: 3.125rem;
    border-radius: 8px !important;
    text-transform: capitalize !important;
    background-color: $orange !important;
}
.glam-btn{
    width: 9.125rem;
    height: 3.125rem;
    border-radius: 8px !important;
    text-transform: capitalize !important;
    background-color: #000 !important;
}
.order-btn{
    width: 100% !important;
    text-transform: capitalize !important;
}
.cart-btn{
    width: 100%;
    text-transform: none !important;
    background-color: #2A1243 !important;
    color: white !important;
}
.disabled-cart-btn{
    width: 100%;
    text-transform: none !important;
    background-color: rgb(155, 155, 155) !important;
    color: white !important;
}
