.banner-container{
    width: 100vw;
    height: 80vh;
    background-color: #F3F1ED;
    .left-section{
        width: 100%;
        height: 80vh;
        .bold-text{
            font-size: 80px;
            line-height: 68px;
        }
        .text{
            font-size: $font-size-md;
        }
    }
    .right-section{
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: end; 
            .image{
                width: 100vh;
                height: 92vh;
                position: relative;
                z-index: 99;
            }
    }
}
