.complexion-container{
    width: 100vw;
    height: 31.25rem;
    background-image: url("../../assets/graphics/complexion.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .text-box{
        width: 50%;
        height: 31.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .text{
            font-size: 3.75rem;
            line-height: 3.125rem;
            color: $white;
            @media screen and (max-width:"900px") {
                font-size: $font-size-xxxl;
                line-height: 2.5rem;
            }
            @media screen and (max-width:"600px") {
                font-size: $font-size-xxl;
                line-height: 2.125rem;
            }
            .highlighted-text{
                color: #D4C9FF;
            }
        }
        .sub-text{
            font-size: $font-size-sm;
            color: $white;
            @media screen and (max-width:"600px") {
                font-size: $font-size-xs;
            }
            .line-break{
                @media screen and (max-width:"900px") {
                    display: none;
                }
            }
        }
    }
}
