.dermac-container{
    width: 100%;
    padding: 0 0 20px;
    background-color: $white;
    .image-box{
        width: 26.25rem;
        height: 28.125rem;
        background-color: orange;
        position: relative;
        left: 3.125rem;
        z-index: 1;
        .dermac-image{
            width: 100%;
            height: 100%;
        }
    }
    .content-box{
        width: 31.25rem;
        height: 34.375rem;
        background-color: #E8F180;
    }
}
