.stress-container{
    width: 100%;
    padding: 3.75rem 0 5rem 0;
    background-color: $white;
    @media screen and (max-width:900px) {
        padding: 2.5rem 0 ;
    }
    .title-box{
        .title{
            font-size: $font-size-xxxl;
            @media screen and (max-width:600px) {
                font-size: 28px;
                font-weight: $font-weight-medium;
            }
            .highlighted-title{
                color: $light-purple;
            }
        }
    }
    .boxes-container{
        padding-top: 2.5rem ;
        .relief-box{
            .image-box{
                width: 8.75rem;
                height: 8.75rem;
            }
            .text{
                font-weight: 600;
            }
            .sub-text{
                font-size: $font-size-xs;
                color: $light-gray;
                text-align: center;
                .line-break{
                    @media screen and (max-width:600px) {
                        display: none;
                    }
                }
            }
        }
    }
}
